<% if(typeof query != 'undefined' ){ %>
    <h3><% if(typeof selectedAssign != 'undefined'){ %>Assignment <%= selectedAssign %><% } %></h3>
    <h3><% if(typeof selectedQuest != 'undefined'){ %>Question <%= selectedQuest %><% } %></h3>
    <h3><%= query %></h3>
    <div id="collapsible-panels">
    
    <h4><a href="#">
        Query Output
    </a></h4>
    <% } %>
        <% if(typeof result != 'undefined' ){ %>
            <div><%  if(!err){ %>
                <table>
                    <tr>
                        <% fields.forEach((item)=>{ %>
                            <th>
                                <%= item %>
                            </th>
                            <% }) %>
                    </tr>
                    <% for(var i in result){ %>
                        <tr>
                            <% for(var j in result[i]){ %>
                                <td>
                                    <%= result[i][j] %>
                                </td>
                                <% } %>
                        </tr>
                        <% } %>
                </table>
                <%  } else { %>
                    <h4>
                        <%= result %>
                    </h4>
                    <% } %></div>
                        <%  } %>
                        <% if(typeof json != 'undefined'){ %>
                        <h4><a href="#">
                            Query clauses
                        </a></h4>
                        <div class="container">
                            <h4>Query 1: <%= query %></h4>
                            <pre><%= JSON.stringify(json) %></pre>
                            
                        </div>
                    <% } %>
                </div>